<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Bookings</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/employee/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="/employee/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/employee/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="/employee/plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/employee/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/employee/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/employee/plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="/employee/plugins/summernote/summernote-bs4.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <%- include('layout/navbar')%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
<%- include('layout/sidebar')%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
   
    <div class="container mt-5">
        <h2 class="mb-4">My Assigned Tasks</h2>
        <% if (bookings && bookings.length > 0) { %>
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Booking ID</th>
                        <th>Service Name</th>
                        <th>Customer Name</th>
                        <th>Date</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% bookings.forEach((booking, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= booking.bookingId %></td>
                            <td><%= booking.serviceDetails.title %></td>
                            <td><%= booking.userDetails.name %></td>
                            <td><%= new Date(booking.date).toLocaleDateString() %></td>
                            <td><%= booking.address %></td>
                            <td><%= booking.status %></td>
                            <td><%= booking.description %></td>
                            <% if(booking.status==="completed"){ %>
                                   <td><button class="btn btn-success btn-sm">Completed</button></td>
                            <% } else {%>
                                <td><a href="/employee/booking/complete/<%=booking._id  %>"><button class="btn btn-danger btn-sm">Mark as complete</button></a></td>
                             <% } %>   
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p>No bookings assigned to you.</p>
        <% } %>
    </div>

 
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<%- include('layout/footer')%>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/employee/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/employee/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="/employee/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="/employee/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="/employee/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="/employee/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="/employee/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="/employee/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="/employee/plugins/moment/moment.min.js"></script>
<script src="/employee/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/employee/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="/employee/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="/employee/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="/employee/dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/employee/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/employee/dist/js/demo.js"></script>
</body>
</html>
